/* Font Styles */


.raleway-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
}


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Body Styles */
body {
    margin: 0;
    padding: 0;
}

/* shared styles */
.btn-primary{
    font-size: 16px;
    font-weight: 700;
    background-color: #4E47FF;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 10px;
}

.btn-primary:hover {
    background-color: #15144f;
    color: #FFFFFF;
    transition: background-color 0.3s ease;
}

/* Navbar Styles */
.navbar-title {
    font-weight: 900;
    font-size: 34px;
    color: #4E47FF;
}


.navbar-button:hover {
    background-color: #15144f;
    color: #FFFFFF;
    transition: background-color 0.3s ease;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
}

/* Header Styles */
.header{
    background-image: url('../Assets/Hero-bg.png');
}