/* Font Styles */


.raleway-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
}


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Body Styles */
body {
    margin: 0;
    padding: 0;
}

/* shared styles */
.btn-primary{
    font-size: 16px;
    font-weight: 700;
    background-color: #4E47FF;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
}

.btn-primary:hover {
    background-color: #15144f;
    color: #FFFFFF;
    transition: background-color 0.3s ease;
}

/* Header Styles */
.header{
    background-image: url('../Assets/Hero-bg.png');
}

/* Navbar Styles */
.navbar-title {
    font-weight: 900;
    font-size: 34px;
    color: #4E47FF;
}


.navbar-button:hover {
    background-color: #15144f;
    color: #FFFFFF;
    transition: background-color 0.3s ease;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
}

/* Banner Styles */
.banner-heading{
    font-size: 65px;
    font-weight: bold;
}

.banner{
    text-align: center;
    gap: 85px;
    padding-left: 267px;
    padding-right: 267px;
    padding-bottom: 237px;
}


/* Action Styles */
.action{
    display: flex;
    padding-top: 116px;
    padding-bottom: 116px;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    max-width: 1140px;
    gap: 220px;
}

.action-items{
    padding-top: 62.5px;
    padding-bottom: 62.5px;
    gap: 23px;
}

.action-title{
    font-weight: bold;
    font-size: 42px;
    color: #252432;
}

.action-description{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    font-weight: 400;
}

.action-image{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}


/* USers Styles */
.users{
    max-width: 1140px;
    padding: 50px 142px;
    align-items: center;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    margin-left: 150px;
    margin-right: 150px;
    gap: 40px;
    margin-bottom: 137px;
}

.users-container{
    display: flex;
    align-items: center;
    gap: 158px;
    justify-content: space-between;
}

.users-main-title{
    font-weight: bold;
    font-size: 38px;
    text-align: center;
}

.users-title{
    font-size: 80px;
    font-weight: bold;
    color: rgba(78, 71, 255, 1);
    margin:0px
}